<html>
  <head>
    <title>Replit with pthon</title>
    <style>
      h1{
        font-size: 40px;
        font-weight: normal;
        color: rgb(100,100,100);
        text-align: center;
        font-family: Roboto;
      }
      #banner{
        width:600px;
        height:200px;
        object-fit: cover;
      }
      h2{
        font-size: 40px;
        font-weight: normal;
        color: rgb(70,70,70);
        text-align: Roboto;
        font-family: Roboto;
      }
      #container{
        max-width: 720px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="container">
            <h1>Jovian Careers</h1>
    <img id="banner"  src="https://crud.keeplagat.repl.co/static/banner.jpg">
    <h1>About Jovian</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet commodo nulla facilisi nullam vehicula ipsum. Eu turpis egestas pretium aenean pharetra magna ac. Tristique risus nec feugiat in fermentum posuere urna. Ornare arcu odio ut sem nulla pharetra diam sit amet. Penatibus et magnis dis parturient montes nascetur ridiculus. Accumsan sit amet nulla facilisi morbi tempus iaculis urna id. Velit dignissim sodales ut eu sem integer vitae. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Id faucibus nisl tincidunt eget nullam non. Feugiat nisl pretium fusce id. Duis ut diam quam nulla porttitor massa id neque aliquam. Dictum non consectetur a erat nam at lectus urna.</p>
    <h1>Open Positions</h1>
    <p>To-Do Job lists</p>
      <div style = "text-align:center;">
    <button>Contact Us</button>
      </div>
    </div>

  </body>
</html>